.game-grid {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.letter-box {
    flex: 1 1 auto;
    border: 0.1rem solid gray;
    border-radius: 3px;
    margin: 0.1rem;
    font-size: 2.5rem;
    font-weight: 700;
    width: 100vw;
    height: 100vh;
    max-width: var(--max-box-side);
    max-height: var(--max-box-side);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    user-select: none;
    /* supported by Chrome and Opera */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    }
    .letter-box.not-in-word {
        background-color: rgba(138, 138, 138, 0.5);
    }
    
    .letter-box.in-word {
        background-color: rgba(251, 255, 0, 0.5);
    }
    
    .letter-box.not-in-place {
        background-color: rgba(0, 255, 55, 0.5);
    }
.filled-box {
    border: 0.1rem solid white;
}

.letter-row {
    display: flex;
}

.game-grid * {
    --max-box-side: min(3rem, calc(calc(90vw - (0.3rem*var(--word-length)))/var(--word-length)), calc(((100vh - 56px)*0.5/6)) - 0.3rem);
}