.keyboard {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
}
.second-row {
    margin: 0.5rem 0;
}
.keyboard .keyboard-button {
    font-size: min(1rem, calc(((100vh - 56px) * 0.3 - 54px) / 3 / 2.5), calc((90vw - 10 * 6px) / 10 / 2));
    font-weight: 700;
    height: 2.5rem;
    max-height: calc(((100vh - 56px) * 0.3 - 38px) / 3);
    width: 2rem;
    max-width: calc((90vw - 10 * 6px) / 10);
    padding: 0;
    margin: 0 2px;
    cursor: pointer;
    text-transform: uppercase;
    vertical-align: middle;
    }
        .keyboard .keyboard-button.not-in-word {
            background-color: rgba(138, 138, 138, 0.5);
        }
        
        .keyboard .keyboard-button.in-word {
            background-color: rgba(251, 255, 0, 0.5);
        }
        
        .keyboard .keyboard-button.not-in-place {
            background-color: rgba(0, 255, 55, 0.5);
        }

    .keyboard-button.enter {
        width: 4rem;
        max-width: calc((90vw - 10 * 6px) / 10 * 2);
    }
    
    .keyboard-button.del {
        width: 3rem;
        max-width: calc((90vw - 10 * 6px) / 10 * 1.5);
    }