.userStartPop {
    color: black;
}
.userStart {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.userStart-inner{
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 720px;
    background-color: white;
    border-radius: 25px;
}

.userStart-inner .close-btn {
    position: absolute;
    top:16px;
    right: 16px;
}

input[id="userName-input"] {
    padding: 0.5em 1em;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    outline: 0;
}

input[id="userName-submit"] {
    padding: 0.5em 1em;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    outline: 0;
}